.divprincipal {
    background-image: url('./fondoubi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapa {
    border-radius: 20px;
}

.center-cosas {
    display: flex;
    justify-content: center;
    align-items: center;
}